<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/efectoshoover.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Inicio</title>
</head>
<body>

  <header>
    <nav class="navegador">
      <div class="imgLogo">
        <img src="/img/twitter_header_photo_1.png" alt="Imagen Logo Empresa" />
      </div>
      <div class="botonesHeader">
        <ul>
          <li>
            <button id="btnIngresar" data-hover="Ingresar">
              <div><span class="material-symbols-outlined">
                  passkey
                </span></div>
            </button>
          </li>
          <li>
            <button id="btnRegistrarse" data-hover="Registrarse">
              <div><span class="material-symbols-outlined">
                  how_to_reg
                </span></div>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <nav class="contenedorMain">
<div class="swiffy-slider slider-item-show4 slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio-32x9 bg-white shadow-lg py-3 py-lg-4" data-slider-nav-autoplay-interval="2000">
    <div class="slider-container">
        <div><img src="/img/logobahco.jpg" alt="Logo de marca"></div>
        <div><img src="/img/logobyd.jpg" alt="Logo de marca"></div>
        <div><img src="/img/logomakita.webp" alt="Logo de marca"></div>
        <div><img src="/img/logoskill.jpg" alt="Logo de marca"></div>
        <div><img src="/img/logolaser.jpg" alt="Logo de marca"></div>
        <div><img src="/img/logofema.webp" alt="Logo de marca"></div>
        <div><img src="/img/logobosch.jpg" alt="Logo de marca"></div>
        <div><img src="/img/logocrossmaster.webp" alt="Logo de marca"></div>
    </div>
    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
</div>
<div class="contenedorImgMain">
  <img src="/img/negocio.avif" alt="imagen del negocio">
  <div class="content">
    <h1>FERRETERIA INDUSTRIAL</h1>
    <p>Saenz Peña 421 - Lujan De Cuyo</p>
    <p>Buloneria - Ferreteria</p>
  </div>
</div>
    </nav>
  </main>
  <footer>
    <nav class="navegador">
      <div class="textoFooter">
        <h2>
          Proyecto Backend Nicolas Davi ©
        </h2>
      </div>
      <div class="iconosFooter">
        <i class="bi bi-twitter-x"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-whatsapp"></i>
      </div>
    </nav>
  </footer>
  <script src="js/script.js"></script>
</body>
</html>